<?php

$finder = PhpCsFixer\Finder::create();

return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony' => true,
        '@PSR2' => true,
        'array_syntax' => ['syntax' => 'short'],
        'full_opening_tag' => false,
    ])
    ->setUsingCache(false)
    ->setFinder($finder);
